# This list auto requests reviews from the specified org members 
# when a PR that modifies the file in question is opened 
# This list is alphabetized by User -> Filename KEEP IT THAT WAY 
# In the event that multiple org members are to be informed of changes 
# to the same file or dir, add them to the end under Multiple Owners 
 
# Example
 
#/code/world.dm @GithubNameHere
#/maps/ @GithubNameHere

#Altoids

/yogstation/code/modules/scripting/ @Altoids1

#AsV9

/code/__DEFINES/MC.dm @AsV9
/code/__DEFINES/tick.dm @AsV9
/code/controllers/master.dm @AsV9
/SQL/database_changelog.txt @AsV9
/code/controllers/admin.dm @AsV9
/code/controllers/failsafe.dm @AsV9
/code/controllers/subsystem.dm @AsV9
/code/controllers/subsystem/timer.dm @AsV9

#Ktlwjec
/_maps/ @Ktlwjec1

#monster860

/code/modules/atmospherics/ @monster860
/yogstation/code/modules/atmospherics/ @monster860

#partheo

/icons/ @Partheo
/sound/ @Partheo
/code/controllers/subsystem/ticker.dm @Partheo
/yogstation/code/controllers/subsystem/ticker.dm @Partheo

#Multiple Owners
