# This list auto requests reviews from the specified org members 
# when a PR that modifies the file in question is opened 
# This list is alphabetized by User -> Filename KEEP IT THAT WAY 
# In the event that multiple org members are to be informed of changes 
# to the same file or dir, add them to the end under Multiple Owners 
 
# Example
 
#/code/world.dm @GithubNameHere
#/maps/ @GithubNameHere

#Teams

/.github/ @yogstation13/head-coders
/SQL/ @yogstation13/head-coders
/_maps/ @yogstation13/map
/config/ @yogstation13/head-coders
/goon/ @yogstation13/art
/icons/ @yogstation13/art
/sound/ @yogstation13/art
/yogstation/SQL/ @yogstation13/head-coders
/yogstation/icons/ @yogstation13/art
/yogstation/sound/ @yogstation13/art

#monster860

/code/modules/atmospherics/ @monster860
/yogstation/code/modules/atmospherics/ @monster860

#Art stuff

/code/controllers/subsystem/ticker.dm @yogstation13/art
/yogstation/code/controllers/subsystem/ticker.dm @yogstation13/art
/code/modules/holidays/holidays.dm @yogstation13/art
/yogstation/code/modules/holidays/holidays.dm @yogstation13/art

