# This list auto requests reviews from the specified org members 
# when a PR that modifies the file in question is opened 
# This list is alphabetized by User -> Filename KEEP IT THAT WAY 
# In the event that multiple org members are to be informed of changes 
# to the same file or dir, add them to the end under Multiple Owners 
 
# Example
 
#/code/world.dm @GithubNameHere
#/maps/ @GithubNameHere

# Teams
# Placed first so specific files can be owned by others
*.dmi @yogstation13/art
*.dmm @yogstation13/map

#HeadDev

/.github/ @yogstation13/head-coders
/SQL/ @yogstation13/head-coders
/config/ @yogstation13/head-coders
/yogstation/SQL/ @yogstation13/head-coders
/code/modules/client/preferences.dm @yogstation13/head-coders
/code/modules/client/preferences_savefile.dm @yogstation13/head-coders
/html/templates/ @yogstation13/head-coders
/sound/ @yogstation13/head-coders
/yogstation/sound/ @yogstation13/head-coders
/yogstation/code/game/world.dm @yogstation13/head-coders
/code/controllers/subsystem/ticker.dm @yogstation13/head-coders

#monster860

/code/modules/atmospherics/ @monster860
/yogstation/code/modules/atmospherics/ @monster860

#thegamerdk

/code/modules/mob/living/silicon/ai/decentralized @TheGamerdk
/code/modules/mob/living/silicon/ai/decentralized_ai.dm @TheGamerdk
