*.dmm eol=crlf
*.dm eol=crlf
*.md eol=crlf
*.txt eol=crlf
*.html eol=crlf
#this breaks if its in crlf
code/__DEFINES/rust_g.dm eol=lf


# merger hooks, run tools/hooks/install.bat or install.sh to set up
*.dmm merge=dmm
*.dmi merge=dmi

# force changelog merging to use union
html/changelog.html merge=union
