<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;bloodysoles - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/bloodysoles.html#var">Var Details</a> - <a href="datum/component/bloodysoles.html#proc">Proc Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/bloodysoles.html">bloodysoles</a>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/122b8977b87db206e8ec68022789a659e2825bb2/code/datums/components/bloodysoles.dm#L5">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;bloodysoles.dm 5"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/bloodysoles.html#var/bloody_shoes">bloody_shoes</a></th><td>How much of each grubby type we have on our feet</td></tr>
            <tr><th><a href="datum/component/bloodysoles.html#var/equipped_slot">equipped_slot</a></th><td>The ITEM_SLOT_* slot the item is equipped on, if it is.</td></tr>
            <tr><th><a href="datum/component/bloodysoles.html#var/last_blood_state">last_blood_state</a></th><td>The type of the last grub pool we stepped in, used to decide the type of footprints to make</td></tr>
            <tr><th><a href="datum/component/bloodysoles.html#var/last_pickup">last_pickup</a></th><td>The world.time when we last picked up blood</td></tr>
            <tr><th><a href="datum/component/bloodysoles.html#var/parent_atom">parent_atom</a></th><td>The parent item but casted into atom type for easier use.</td></tr>
            <tr><th><a href="datum/component/bloodysoles.html#var/wielder">wielder</a></th><td>Either the mob carrying the item, or the mob itself for the /feet component subtype</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/bloodysoles.html#proc/on_step_blood">on_step_blood</a></th><td>prints merged
prints merged</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/bloody_shoes"><aside class="declaration">var </aside>bloody_shoes
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/122b8977b87db206e8ec68022789a659e2825bb2/code/datums/components/bloodysoles.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;bloodysoles.dm 10"/></a></h3>
        <p>How much of each grubby type we have on our feet</p><h3 id="var/equipped_slot"><aside class="declaration">var </aside>equipped_slot
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/122b8977b87db206e8ec68022789a659e2825bb2/code/datums/components/bloodysoles.dm#L13">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;bloodysoles.dm 13"/></a></h3>
        <p>The ITEM_SLOT_* slot the item is equipped on, if it is.</p><h3 id="var/last_blood_state"><aside class="declaration">var </aside>last_blood_state
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/122b8977b87db206e8ec68022789a659e2825bb2/code/datums/components/bloodysoles.dm#L7">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;bloodysoles.dm 7"/></a></h3>
        <p>The type of the last grub pool we stepped in, used to decide the type of footprints to make</p><h3 id="var/last_pickup"><aside class="declaration">var </aside>last_pickup
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/122b8977b87db206e8ec68022789a659e2825bb2/code/datums/components/bloodysoles.dm#L22">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;bloodysoles.dm 22"/></a></h3>
        <p>The world.time when we last picked up blood</p><h3 id="var/parent_atom"><aside class="declaration">var </aside>parent_atom
            <aside>&ndash; /<a href="atom.html">atom</a></aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/122b8977b87db206e8ec68022789a659e2825bb2/code/datums/components/bloodysoles.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;bloodysoles.dm 16"/></a></h3>
        <p>The parent item but casted into atom type for easier use.</p><h3 id="var/wielder"><aside class="declaration">var </aside>wielder
            <aside>&ndash; /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/<a href="mob/living/carbon.html">carbon</a></aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/122b8977b87db206e8ec68022789a659e2825bb2/code/datums/components/bloodysoles.dm#L19">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;bloodysoles.dm 19"/></a></h3>
        <p>Either the mob carrying the item, or the mob itself for the /feet component subtype</p><h2 id="proc">Proc Details</h2><h3 id="proc/on_step_blood"><aside class="declaration">proc </aside>on_step_blood<aside>(/<a href="datum.html">datum</a>/source, /<a href="obj.html">obj</a>/<a href="obj/effect/decal/cleanable.html">effect/decal/cleanable</a>/pool) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/122b8977b87db206e8ec68022789a659e2825bb2/code/datums/components/bloodysoles.dm#L179">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;bloodysoles.dm 179"/></a></aside>
        </h3>
        <p>prints merged
prints merged</p></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/122b8977b87db206e8ec68022789a659e2825bb2">122b897</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
