<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;cleave_attack - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/cleave_attack.html#var">Var Details</a> - <a href="datum/component/cleave_attack.html#proc">Proc Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/cleave_attack.html">cleave_attack</a>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/cleave_attack.html#var/arc_size">arc_size</a></th><td>Size of the attack arc in degrees</td></tr>
            <tr><th><a href="datum/component/cleave_attack.html#var/cleave_effect">cleave_effect</a></th><td>Which effect should this use</td></tr>
            <tr><th><a href="datum/component/cleave_attack.html#var/cleave_end_callback">cleave_end_callback</a></th><td>Callback when the cleave attack is finished</td></tr>
            <tr><th><a href="datum/component/cleave_attack.html#var/no_multi_hit">no_multi_hit</a></th><td>Whether this item is disallowed from hitting more than one target</td></tr>
            <tr><th><a href="datum/component/cleave_attack.html#var/requires_wielded">requires_wielded</a></th><td>Make this TRUE for two-handed weapons like axes</td></tr>
            <tr><th><a href="datum/component/cleave_attack.html#var/swing_speed_mod">swing_speed_mod</a></th><td>How much slower is it to swing</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/cleave_attack.html#proc/hit_atoms_on_turf">hit_atoms_on_turf</a></th><td>Hits all possible atoms on a turf, returns TRUE if the swing should end early</td></tr>
            <tr><th><a href="datum/component/cleave_attack.html#proc/set_cleave_effect">set_cleave_effect</a></th><td>Sets the cleave effect to the specified effect, or based on arc size if one wasn't specified.</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/arc_size"><aside class="declaration">var </aside>arc_size
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 4"/></a></h3>
        <p>Size of the attack arc in degrees</p><h3 id="var/cleave_effect"><aside class="declaration">var </aside>cleave_effect
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 10"/></a></h3>
        <p>Which effect should this use</p><h3 id="var/cleave_end_callback"><aside class="declaration">var </aside>cleave_end_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 16"/></a></h3>
        <p>Callback when the cleave attack is finished</p><h3 id="var/no_multi_hit"><aside class="declaration">var </aside>no_multi_hit
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 12"/></a></h3>
        <p>Whether this item is disallowed from hitting more than one target</p><h3 id="var/requires_wielded"><aside class="declaration">var </aside>requires_wielded
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 6"/></a></h3>
        <p>Make this TRUE for two-handed weapons like axes</p><h3 id="var/swing_speed_mod"><aside class="declaration">var </aside>swing_speed_mod
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 8"/></a></h3>
        <p>How much slower is it to swing</p><h2 id="proc">Proc Details</h2><h3 id="proc/hit_atoms_on_turf"><aside class="declaration">proc </aside>hit_atoms_on_turf<aside>(/<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/item, /<a href="atom.html">atom</a>/target, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/user, /<a href="turf.html">turf</a>/hit_turf, params) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L134">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 134"/></a></aside>
        </h3>
        <p>Hits all possible atoms on a turf, returns TRUE if the swing should end early</p><h3 id="proc/set_cleave_effect"><aside class="declaration">proc </aside>set_cleave_effect<aside>(new_effect) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/6b9fe24e18b48b0ee66d2fcde7310198e78e2401/code/datums/components/cleave_attack.dm#L61">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;cleave_attack.dm 61"/></a></aside>
        </h3>
        <p>Sets the cleave effect to the specified effect, or based on arc size if one wasn't specified.</p></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/6b9fe24e18b48b0ee66d2fcde7310198e78e2401">6b9fe24</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
