<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;darkspawn_class - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/darkspawn_class.html#var">Var Details</a></header>
<main>
<h1>Debug class <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/darkspawn_class.html">darkspawn_class</a></aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L1">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/darkspawn_class.html#var/class_color">class_color</a></th><td>The color of their aura outline</td></tr>
            <tr><th><a href="datum/component/darkspawn_class.html#var/description">description</a></th><td>Class short description</td></tr>
            <tr><th><a href="datum/component/darkspawn_class.html#var/learned_abilities">learned_abilities</a></th><td>Abilities the darkspawn has learned from the psi_web</td></tr>
            <tr><th><a href="datum/component/darkspawn_class.html#var/long_description">long_description</a></th><td>Class long description. This will be shown in TGUI to explain to players with more depth of what to expect from the class</td></tr>
            <tr><th><a href="datum/component/darkspawn_class.html#var/name">name</a></th><td>Class name</td></tr>
            <tr><th><a href="datum/component/darkspawn_class.html#var/owner">owner</a></th><td>The darkspawn who this class belongs to</td></tr>
            <tr><th><a href="datum/component/darkspawn_class.html#var/specialization_flag">specialization_flag</a></th><td>The flag of the classtype. Used to determine which psi_web options are available to the class</td></tr>
            <tr><th><a href="datum/component/darkspawn_class.html#var/starting_abilities">starting_abilities</a></th><td>Abilities our class will start with. Granted to the owning darkspawn on initialization</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/class_color"><aside class="declaration">var </aside>class_color
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L21">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 21"/></a></h3>
        <p>The color of their aura outline</p><h3 id="var/description"><aside class="declaration">var </aside>description
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L6">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 6"/></a></h3>
        <p>Class short description</p><h3 id="var/learned_abilities"><aside class="declaration">var </aside>learned_abilities
            <aside>&ndash; /list/datum/psi_web</aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L19">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 19"/></a></h3>
        <p>Abilities the darkspawn has learned from the psi_web</p><h3 id="var/long_description"><aside class="declaration">var </aside>long_description
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L8">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 8"/></a></h3>
        <p>Class long description. This will be shown in TGUI to explain to players with more depth of what to expect from the class</p><h3 id="var/name"><aside class="declaration">var </aside>name
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L4">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 4"/></a></h3>
        <p>Class name</p><h3 id="var/owner"><aside class="declaration">var </aside>owner
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/mind.html">mind</a></aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L12">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 12"/></a></h3>
        <p>The darkspawn who this class belongs to</p><h3 id="var/specialization_flag"><aside class="declaration">var </aside>specialization_flag
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L10">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 10"/></a></h3>
        <p>The flag of the classtype. Used to determine which psi_web options are available to the class</p><h3 id="var/starting_abilities"><aside class="declaration">var </aside>starting_abilities
            <aside>&ndash; /list/datum/psi_web</aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/419b6d42107766ae4d55006d49c52b76ab83822c/yogstation/code/modules/antagonists/darkspawn/darkspawn_classes/_class.dm#L17">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;modules&#x2F;antagonists&#x2F;darkspawn&#x2F;darkspawn_classes&#x2F;_class.dm 17"/></a></h3>
        <p>Abilities our class will start with. Granted to the owning darkspawn on initialization</p></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/419b6d42107766ae4d55006d49c52b76ab83822c">419b6d4</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
