<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;material_container - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/material_container.html#proc">Proc Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component/material_container.html">component/material_container</a>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 12"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/Initialize">Initialize</a></th><td>Sets up the proper signals and fills the list of materials with the appropriate references.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/OnAttackBy">OnAttackBy</a></th><td>Proc that allows players to fill the parent with mats</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/amount2sheet">amount2sheet</a></th><td>Turns a material amount into the amount of sheets it should output</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/can_insert_amount_mat">can_insert_amount_mat</a></th><td>Proc for checking if there is room in the component, returning the amount or else the amount lacking.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/get_categories">get_categories</a></th><td>Returns all the categories in a recipe.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/get_item_material_amount">get_item_material_amount</a></th><td>returns the amount of material relevant to this container; if this container does not support glass, any glass in 'I' will not be taken into account</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/get_material_amount">get_material_amount</a></th><td>Returns the amount of a specific material in this container.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/has_enough_of_category">has_enough_of_category</a></th><td>Returns TRUE if you have enough of a specified material category (Which could be multiple materials)</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/has_enough_of_material">has_enough_of_material</a></th><td>Returns TRUE if you have enough of the specified material.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/has_materials">has_materials</a></th><td>Checks if its possible to afford a certain amount of materials. Takes a dictionary of materials.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/has_space">has_space</a></th><td>Proc that returns TRUE if the container has space</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/insert_amount_mat">insert_amount_mat</a></th><td>For inserting an amount of material</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/insert_item">insert_item</a></th><td>Proc specifically for inserting items, returns the amount of materials entered.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/insert_stack">insert_stack</a></th><td>Proc for putting a stack inside of the container</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/retrieve_all">retrieve_all</a></th><td>Proc to get all the materials and dump them as sheets</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/retrieve_sheets">retrieve_sheets</a></th><td>For spawning mineral sheets at a specific location. Used by machines to output sheets.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/sheet2amount">sheet2amount</a></th><td>Turns an amount of sheets into the amount of material amount it should output</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/transer_amt_to">transer_amt_to</a></th><td>Proc for transfering materials to another container.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/use_amount_mat">use_amount_mat</a></th><td>Uses an amount of a specific material, effectively removing it.</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/use_materials">use_materials</a></th><td>For consuming a dictionary of materials. mats is the map of materials to use and the corresponding amounts, example: list(M/datum/material/glass =100, datum/material/iron=200)</td></tr>
            <tr><th><a href="datum/component/material_container.html#proc/user_insert">user_insert</a></th><td>Proc used for when player inserts materials</td></tr></table><h2 id="proc">Proc Details</h2><h3 id="proc/Initialize">Initialize<aside>(/list/mat_list, max_amt, _show_on_examine, /list/allowed_types, /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a>/_precondition, /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a>/_after_insert, _disable_attackby) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L26">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 26"/></a></aside>
        </h3>
        <p>Sets up the proper signals and fills the list of materials with the appropriate references.</p><h3 id="proc/OnAttackBy"><aside class="declaration">proc </aside>OnAttackBy<aside>(/<a href="datum.html">datum</a>/source, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/I, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/user) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L57">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 57"/></a></aside>
        </h3>
        <p>Proc that allows players to fill the parent with mats</p><h3 id="proc/amount2sheet"><aside class="declaration">proc </aside>amount2sheet<aside>(amt) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L327">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 327"/></a></aside>
        </h3>
        <p>Turns a material amount into the amount of sheets it should output</p><h3 id="proc/can_insert_amount_mat"><aside class="declaration">proc </aside>can_insert_amount_mat<aside>(amt, mat) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L205">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 205"/></a></aside>
        </h3>
        <p>Proc for checking if there is room in the component, returning the amount or else the amount lacking.</p><h3 id="proc/get_categories"><aside class="declaration">proc </aside>get_categories<aside>(/list/mats) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L300">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 300"/></a></aside>
        </h3>
        <p>Returns all the categories in a recipe.</p><h3 id="proc/get_item_material_amount"><aside class="declaration">proc </aside>get_item_material_amount<aside>(/<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/I) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L340">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 340"/></a></aside>
        </h3>
        <p>returns the amount of material relevant to this container; if this container does not support glass, any glass in 'I' will not be taken into account</p><h3 id="proc/get_material_amount"><aside class="declaration">proc </aside>get_material_amount<aside>(/<a href="datum.html">datum</a>/<a href="datum/material.html">material</a>/mat) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L349">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 349"/></a></aside>
        </h3>
        <p>Returns the amount of a specific material in this container.</p><h3 id="proc/has_enough_of_category"><aside class="declaration">proc </aside>has_enough_of_category<aside>(category, amount, multiplier) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L319">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 319"/></a></aside>
        </h3>
        <p>Returns TRUE if you have enough of a specified material category (Which could be multiple materials)</p><h3 id="proc/has_enough_of_material"><aside class="declaration">proc </aside>has_enough_of_material<aside>(/<a href="datum.html">datum</a>/<a href="datum/material.html">material</a>/req_mat, amount, multiplier) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L310">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 310"/></a></aside>
        </h3>
        <p>Returns TRUE if you have enough of the specified material.</p><h3 id="proc/has_materials"><aside class="declaration">proc </aside>has_materials<aside>(/list/mats, multiplier) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L278">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 278"/></a></aside>
        </h3>
        <p>Checks if its possible to afford a certain amount of materials. Takes a dictionary of materials.</p><h3 id="proc/has_space"><aside class="declaration">proc </aside>has_space<aside>(amt) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L274">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 274"/></a></aside>
        </h3>
        <p>Proc that returns TRUE if the container has space</p><h3 id="proc/insert_amount_mat"><aside class="declaration">proc </aside>insert_amount_mat<aside>(amt, /<a href="datum.html">datum</a>/<a href="datum/material.html">material</a>/mat) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L163">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 163"/></a></aside>
        </h3>
        <p>For inserting an amount of material</p><h3 id="proc/insert_item"><aside class="declaration">proc </aside>insert_item<aside>(/<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/I, multiplier, stack_amt) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L114">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 114"/></a></aside>
        </h3>
        <p>Proc specifically for inserting items, returns the amount of materials entered.</p><h3 id="proc/insert_stack"><aside class="declaration">proc </aside>insert_stack<aside>(/<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/<a href="obj/item/stack.html">stack</a>/S, amt, multiplier) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L140">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 140"/></a></aside>
        </h3>
        <p>Proc for putting a stack inside of the container</p><h3 id="proc/retrieve_all"><aside class="declaration">proc </aside>retrieve_all<aside>(target) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L266">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 266"/></a></aside>
        </h3>
        <p>Proc to get all the materials and dump them as sheets</p><h3 id="proc/retrieve_sheets"><aside class="declaration">proc </aside>retrieve_sheets<aside>(sheet_amt, /<a href="datum.html">datum</a>/<a href="datum/material.html">material</a>/M, target) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L242">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 242"/></a></aside>
        </h3>
        <p>For spawning mineral sheets at a specific location. Used by machines to output sheets.</p><h3 id="proc/sheet2amount"><aside class="declaration">proc </aside>sheet2amount<aside>(sheet_amt) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L333">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 333"/></a></aside>
        </h3>
        <p>Turns an amount of sheets into the amount of material amount it should output</p><h3 id="proc/transer_amt_to"><aside class="declaration">proc </aside>transer_amt_to<aside>(/<a href="datum.html">datum</a>/<a href="datum/component/material_container.html">component/material_container</a>/T, amt, /<a href="datum.html">datum</a>/<a href="datum/material.html">material</a>/mat) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L190">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 190"/></a></aside>
        </h3>
        <p>Proc for transfering materials to another container.</p><h3 id="proc/use_amount_mat"><aside class="declaration">proc </aside>use_amount_mat<aside>(amt, /<a href="datum.html">datum</a>/<a href="datum/material.html">material</a>/mat) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L178">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 178"/></a></aside>
        </h3>
        <p>Uses an amount of a specific material, effectively removing it.</p><h3 id="proc/use_materials"><aside class="declaration">proc </aside>use_materials<aside>(/list/mats, multiplier) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L216">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 216"/></a></aside>
        </h3>
        <p>For consuming a dictionary of materials. mats is the map of materials to use and the corresponding amounts, example: list(M/datum/material/glass =100, datum/material/iron=200)</p><h3 id="proc/user_insert"><aside class="declaration">proc </aside>user_insert<aside>(/<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/I, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/user) 
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/2ffeff9cbaeb40657530908412f5f3c2b092439b/code/datums/components/material_container.dm#L82">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;material_container.dm 82"/></a></aside>
        </h3>
        <p>Proc used for when player inserts materials</p></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/2ffeff9cbaeb40657530908412f5f3c2b092439b">2ffeff9</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.0</a></footer>
</body>
</html>
