<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;mech_pilot - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/mech_pilot.html#var">Var Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/mech_pilot.html">mech_pilot</a>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/ba1c8991e76ba1c70d17d87a29bb6ee724bdfefd/code/datums/components/mech_pilot.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mech_pilot.dm 2"/></a></h1>

<p>A component for clothes that affect one's ability to pilot mechs</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/mech_pilot.html#var/piloting_speed">piloting_speed</a></th><td>Modifier of mech delay, based on percentage 1 = 100%. lower is faster</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/piloting_speed"><aside class="declaration">var </aside>piloting_speed
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/ba1c8991e76ba1c70d17d87a29bb6ee724bdfefd/code/datums/components/mech_pilot.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mech_pilot.dm 4"/></a></h3>
        <p>Modifier of mech delay, based on percentage 1 = 100%. lower is faster</p></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/ba1c8991e76ba1c70d17d87a29bb6ee724bdfefd">ba1c899</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
