<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;shielded - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/shielded.html#var">Var Details</a></header>
<main>
<h1>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/shielded.html">shielded</a>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L1">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/shielded.html#var/cached_emissive_appearance">cached_emissive_appearance</a></th><td>the emissive visual overlay of the shield</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/cached_mutable_appearance">cached_mutable_appearance</a></th><td>the visual overlay of the shield</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/current_shield_charges">current_shield_charges</a></th><td>current number of shield charges</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/emissive">emissive</a></th><td>whether or not the shield visual is emissive</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/max_shield_charges">max_shield_charges</a></th><td>maximum number of charges the shield can have</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/recharge_cooldown">recharge_cooldown</a></th><td>Cooldown after getting hit for the shield to recharge</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/shield_active">shield_active</a></th><td>Boolean whether or not the shield is currently worn the user</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/shield_icon">shield_icon</a></th><td>file to get the shield icon from</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/shield_icon_state">shield_icon_state</a></th><td>specific icon used for the shield</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/shield_recharge">shield_recharge</a></th><td>How long it takes for a shield charge to recharge</td></tr>
            <tr><th><a href="datum/component/shielded.html#var/target_slot">target_slot</a></th><td>clothing slot the item is stored in</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/cached_emissive_appearance"><aside class="declaration">var </aside>cached_emissive_appearance
            <aside>&ndash; /mutable_appearance</aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L29">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 29"/></a></h3>
        <p>the emissive visual overlay of the shield</p><h3 id="var/cached_mutable_appearance"><aside class="declaration">var </aside>cached_mutable_appearance
            <aside>&ndash; /mutable_appearance</aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L23">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 23"/></a></h3>
        <p>the visual overlay of the shield</p><h3 id="var/current_shield_charges"><aside class="declaration">var </aside>current_shield_charges
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L10">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 10"/></a></h3>
        <p>current number of shield charges</p><h3 id="var/emissive"><aside class="declaration">var </aside>emissive
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L26">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 26"/></a></h3>
        <p>whether or not the shield visual is emissive</p><h3 id="var/max_shield_charges"><aside class="declaration">var </aside>max_shield_charges
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L12">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 12"/></a></h3>
        <p>maximum number of charges the shield can have</p><h3 id="var/recharge_cooldown"><aside class="declaration">var </aside>recharge_cooldown
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L17">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 17"/></a></h3>
        <p>Cooldown after getting hit for the shield to recharge</p><h3 id="var/shield_active"><aside class="declaration">var </aside>shield_active
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L32">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 32"/></a></h3>
        <p>Boolean whether or not the shield is currently worn the user</p><h3 id="var/shield_icon"><aside class="declaration">var </aside>shield_icon
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L4">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 4"/></a></h3>
        <p>file to get the shield icon from</p><h3 id="var/shield_icon_state"><aside class="declaration">var </aside>shield_icon_state
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L6">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 6"/></a></h3>
        <p>specific icon used for the shield</p><h3 id="var/shield_recharge"><aside class="declaration">var </aside>shield_recharge
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L14">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 14"/></a></h3>
        <p>How long it takes for a shield charge to recharge</p><h3 id="var/target_slot"><aside class="declaration">var </aside>target_slot
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203/yogstation/code/datums/components/shielded.dm#L20">
        <img src="git.png" width="16" height="16" title="yogstation&#x2F;code&#x2F;datums&#x2F;components&#x2F;shielded.dm 20"/></a></h3>
        <p>clothing slot the item is stored in</p></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/8b86a9235ff67b47ee5d8a9fc6a45ece9d155203">8b86a92</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
