<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;uplink - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/uplink.html#var">Var Details</a></header>
<main>
<h1>syndicate uplink <aside>/<a href="datum.html">datum</a>/<a href="datum/component/uplink.html">component/uplink</a></aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/4d3ee36aeef4bc1cba5370db0ed8efb13aacdb7d/code/datums/components/uplink.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;uplink.dm 12"/></a></h1>

<p>Uplinks</p>
<p>All /obj/item(s) have a hidden_uplink var. By default it's null. Give the item one with 'new(src') (it must be in it's contents). Then add 'uses.'
Use whatever conditionals you want to check that the user has an uplink, and then call interact() on their uplink.
You might also want the uplink menu to open if active. Check if the uplink is 'active' and then interact() with it.</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/uplink.html#var/unlock_text">unlock_text</a></th><td>Instructions on how to access the uplink based on location</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/unlock_text"><aside class="declaration">var </aside>unlock_text
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/yogstation13/Yogstation/blob/4d3ee36aeef4bc1cba5370db0ed8efb13aacdb7d/code/datums/components/uplink.dm#L32">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;uplink.dm 32"/></a></h3>
        <p>Instructions on how to access the uplink based on location</p></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/4d3ee36aeef4bc1cba5370db0ed8efb13aacdb7d">4d3ee36</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.0</a></footer>
</body>
</html>
