<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Yogstation Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>
  
	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}
	
  </script>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Yogstation 13</b></font></div>
			
			<p><div align='center'><font size='3'><a href="https://forums.yogstation.net">Forum</a> | <a href="https://wiki.yogstation.net/wiki/Main_Page">Wiki</a> | <a href="https://github.com/yogstation13/Yogstation">Source</a></font></div></p>
			<font size='2'><b>Visit #development-public on our Discord:</b> <a href="https://discord.gg/MHkabek">https://discord.gg/MHkabek</a></font><br>
			<font size='2'><b>Suggest features on our forum:</b> <a href="https://forums.yogstation.net/forums/feature-requests.221/">-- Here --</a></font>
			</td>
	</tr>
</table>

<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Current Head Developers:</b> JamieD12, Theos<br></font>
			<font size='2'><b>Currently Active GitHub contributor list:</b> <a href='https://github.com/yogstation13/Yogstation/graphs/contributors'>-Click Here-</a><br></font>
			<font size='2'><b>Maintainers:</b> AshCorr, Identification, Monster860, Partheo, Asd, TheGamerdk, adamsogm, baiomu, Nmajask<br></font>
			<font size='2'><b>Spriters:</b> Identification, Keekenox, Kmc2000, Meeeeep7, Missatessatessy, Toriate, Partheo, r3d<br></font>
			<font size='2'><b>Mappers:</b> DotLyna, MayhemSailor, Monster860, Ktlwjec, Wejengin2<br></font>
			<font size='2'><b>Sounds:</b> Lasty/Vinyl, Skie, Swissloaf<br></font>
			<font size='2'><b>Thanks to:</b> /tg/station, FTL13 devs, Baystation 12, /vg/station, NTstation, CDK Station devs, FacepunchStation, GoonStation devs, the original SpaceStation developers, Invisty for the title image and Hippiestation for dissapointed.ogg and other assets.<br> Also a thanks to anybody who has contributed who is not listed here :( Ask to be added here on our discord.</font>
			<font size='2' color='red'><b><br>Have a bug to report?</b> Visit our <a href="https://github.com/yogstation13/Yogstation/issues/new?template=bug_report.md">Issue Tracker</a>.<br></font>
			<font size='2'>Please ensure that the bug has not already been reported and <u><a href="https://github.com/yogstation13/Yogstation/issues"><b>use the template provided here</b></a></u>.<br></font>
            <font size='2'>Want something minor added? Check out this <a href="https://forums.yogstation.net/index.php?forums/feature-requests.221/">topic</a>!</font>
		</td>
	</tr>
</table>

		<!--
		
		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE. 
		
		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***
		
		-->
		<div class="commit sansserif">
