<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Yogstation Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>
  
	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}
	
  </script>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Yogstation 13</b></font></div>
			
			<p><div align='center'><font size='3'><a href="https://forums.yogstation.net/index.php">Forum</a> | <a href="https://wiki.yogstation.net/index.php?title=Main_Page">Wiki</a> | <a href="https://github.com/yogstation13/Yogstation-TG">Source</a></font></div></p>
			<font size='2'><b>Visit #coder-public on our Discord:</b> <a href="https://discord.gg/p6ShbB8">https://discord.gg/p6ShbB8</a></font><br>
			<font size='2'><b>Suggest features on our forum:</b> <a href="https://forums.yogstation.net/index.php?forums/suggestions.9/">-- Here --</a></font>
			</td>
	</tr>
</table>

<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Current Headcoders:</b> <a href='https://forums.yogstation.net/index.php?threads/admin-list-and-rankings.10821/#post-127765'>-Click Here-</a><br></font>
			<font size='2'><b>Currently Active GitHub contributor list:</b> <a href='https://github.com/yogstation13/Yogstation-TG/graphs/contributors'>-Click Here-</a><br></font>
			<font size='2'><b>Coders:</b> Nichlas0010, ThatLing, GrayRachnid, AsV9, Kmc2000, Moja10, Cruix, X-TheDark, Oisin100, TehFlaminTaco, Kn0ss0s, Super3222, ShadowDeath6, Time-Green, Ephemeralis, Alek2ander, FluffySurvivor, Nirnael, Utahclock, Macelarius, ToGWTF, Adam El-Tablawy, Johncena1469, McDonald072, ArgyleSweatshop<br></font> 
			<font size='2'><b>Spriters:</b> Partheo, Kmc2000, Andy, Silvaplex, Dagdamnit, Maya/Larissa<br></font>
			<font size='2'><b>Mappers:</b> Nichlas0010, GrayRachnid, Matskuman5, Utahclock, Stealthkibbler, MayhemSailor, Yewmi<br></font>
			<font size='2'><b>Sounds:</b> Skie, Lasty/Vinyl<br></font>
			<font size='2'><b>Thanks to:</b> /tg/station, FTL13 devs, Baystation 12, /vg/station, NTstation, CDK Station devs, FacepunchStation, GoonStation devs, the original SpaceStation developers and Invisty for the title image.<br> Also a thanks to anybody who has contributed who is not listed here :( Ask to be added here on our discord.</font>
			<font size='2' color='red'><b><br>Have a bug to report?</b> Visit our <a href="https://github.com/yogstation13/Yogstation-TG/issues?q=is%3Aissue+is%3Aopen+label%3ABug">Issue Tracker</a>.<br></font>
			<font size='2'>Please ensure that the bug has not already been reported and <u><a href="https://github.com/yogstation13/Yogstation-TG/issues"><b>use the template provided here</b></a></u>.<br></font>
            <font size='2'>Want something minor added? Check out this <a href="https://forums.yogstation.net/index.php?threads/thread-for-making-minor-suggestions.13875/">topic</a>!</font>
		</td>
	</tr>
</table>

		<!--
		
		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE. 
		
		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***
		
		-->
		<div class="commit sansserif">
