<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;crafting&#x2F;antag.dm - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/crafting/antag.dm 
            <a href="https://github.com/yogstation13/Yogstation/blob/c07b7dcb4b872e5d154deae071b62899c0106942/code/datums/components/crafting/antag.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;crafting&#x2F;antag.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/crafting_recipe.html">crafting_recipe</a>/baseball_bat</th><td>Antag recipes</td></tr></table></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/c07b7dcb4b872e5d154deae071b62899c0106942">c07b7dc</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.0</a></footer>
</body>
</html>
