@use 'sass:math';

// For accessing the stamp sprite sheet
$stamp-width: 12vw !default;
$stamp-height: 8vh !default;

@mixin clear-margins {
  margin: 0;
  padding: 0;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin --reflect {
  position: absolute;
  // pacity: (0.2);
  pointer-events: none;
}

.InspectorBooth__Window {
  @include full-size;
  // border: 0.5vmin dashed rgba(255, 255, 255, 0.2);

  &__glass {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 35%;
    min-height: 10px;
    overflow: hidden;
    pointer-events: none;

    &-icon {
        width: 100%;
        height: 35vh;
        opacity: 0.8;
    }
  }
}

.InspectorBooth {
  position: relative;
  background-repeat: space;
  height: 100%;
  overflow: hidden;
  -ms-user-select: none;
  user-select: none;
}

.InspectorBooth img {
  -ms-interpolation-mode: nearest-neighbor;
}

.InspectorBooth__Tray {
  position: absolute;
  top: 10vh;
  pointer-events: none;
  box-shadow: 0vw 7vh 0 0 rgba(0, 0, 0, .2);

  &__stamp {
    margin-left: -8.27vw;
    width: 6.9vw;
    transform: translateY(0vh);
    transition: transform 150ms ease-out 0s;
    z-index: -1;
    pointer-events: auto;

    &--down {
      @extend .InspectorBooth__Tray__stamp;
      transform: translateY(5vh);
    }

    &__cover {
      margin-left: -1.23vw;
      width: 9.487vw;
    }
  }

  &__segment {
    position: relative;
    z-index: -1;
    pointer-events: auto;
  }

  &__end {
    pointer-events: auto;
  }
}

.InspectorBooth__Speaker {
  position: absolute;
  right: 15vw;
  top: 25vh;
  height: 6vh;
  width: auto;
  transform: translateX(50%);
  pointer-events: auto;
}

.InspectorBooth__Desk {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -2vh;
  display: flex;
  flex-direction: column;
  flex: 1 1;

  &__top {
    height: 7vh;
  }

  &__bottom {
    align-self: flex-end;
  }

  &__filler {
    border-left: 0.5vmin dashed rgba(170, 174, 177, 1);
    border-right: 0.5vmin dashed rgba(170, 174, 177, 1);
    background-color: rgba(161, 165, 168, 1);
    flex: 1 1;
  }

  & > img {
    @include clear-margins;
    width: 100%;
    flex-grow: 1 1px;
    flex-shrink: 1;
  }
}

.InspectorBooth__Receptacle {
  position: absolute;
  font-size: 2.5vmin;
  pointer-events: none;

  &--drop_item {
    position: relative;
    right: 0;
    width: 100%;
    height: 35vh;
  }

  &--take_item {
    right: 0;
    width: 100%;
    height: 1vh;
    bottom: -0.5vh;
  }

  &--shrink {
    right: 0;
    width: 30vw;
    height: 100%;
    background-color:rgba(134, 157, 161, 1);
    display: flex;
    flex-direction: column;
  }
}

.InspectorBooth__Items {

  &__idcard {
    height: 21vh;
    width: 28vw;
    border-radius: 3vmin;
    background-color: purple;
    overflow: hidden;

    &-picture {

    }

    &-name {

    }

    &--reflect {
      @extend .InspectorBooth__Items__idcard--small;
      @include --reflect;
    }

    &--small {
      @extend .InspectorBooth__Items__idcard;
      height: 7.5vh;
      width: 10vw;
      border-radius: 1vmin;

      .InspectorBooth__Items__idcard-name {
        font-size: 1vmin;
        line-height: 1vmin;
      }
    }
  }

  &__paper {
    width: 30vw;
    height: 60vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

    &--reflect {
      @extend .InspectorBooth__Items__paper--small;
      @include --reflect;
    }

    &--small {
      @extend .InspectorBooth__Items__paper;
      width: 10vw;
      height: 20vh;
      & * {
        transform: scale(0.8);
      }

      // Not BEM but its neater this way
      .InspectorBooth__Items__paper-textBox {
        font-size: 1vmin;
        line-height: 1vmin;
        margin: -1vmin -2vmin -2vmin -1vmin;

        & > hr {
          margin: -1vmin 0 -1vmin 0;
        }

        > input {
          width: 0.1vmin;
          height: 0.1vmin;
        }
      }

      .InspectorBooth__Items__paper-icon {
        border-left: dashed 1px rgba(0, 0, 0, .2);
        border-bottom: dashed 1px rgba(0, 0, 0, .2);
      }

      .InspectorBooth__Items__paper-stamps {
        margin: 0 -12vmin 0 -12vmin;
        transform: scale(0.4);

        & > span {
          margin: -4vmin -2vmin 0 -2vmin;
        }
      }
    }

    &-icon {
      @include full-size;
      position: absolute;
      top: 0;
      left: 0;
      border-left: dashed 2px rgba(0, 0, 0, .2);
      border-bottom: dashed 2px rgba(0, 0, 0, .2);
      transform: none;
    }

    &-textBox {
      position: relative;
      padding: 15%;
      margin-bottom: -15%;
      text-align: left;
      color: black;
      font-size: 2vmin;
      line-height: 2.05vmin;
    }

    &-textBox > hr {
      @include clear-margins;
    }

    &-textBox > ul {
      @include clear-margins;
    }

    &-textBox > input {
      width: 1vw;
      height: 1vh;

      &--small {
        width: 0.1vw;
        height: 0.1vh;
      }
    }

    &-stamps {
      position: relative;
      text-align: center;
      display: inline-block;
    }

    &-stamps > span {
      width: $stamp-width;
      height: $stamp-height;
      background-size: cover;
    }
  }
}

// For some reason the stamp assets are treated as a single sprite sheet
// that is used by a span as a background which is offset by set x
// and y pixels which means it can't scale with screen size properly unless
// you overide every single style manually like this
.InspectorBooth .paper121x121 {
  height: 2*$stamp-height !important;
  background-size: 100% 100% !important;
  background-position: center !important;
}
.InspectorBooth .paper120x54 { background-size: 100% 100% !important; }
.InspectorBooth .paper121x54 {
  background-size: 3*$stamp-width 5*$stamp-height !important;
  background-position: 0 0 !important;
  // If any new stamps are added this will probably break
  &.stamp-cent{ background-position: -0 -0 !important; }
  &.stamp-mime{ background-position: -1*$stamp-width -0 !important; }
  &.stamp-law{ background-position: -2*$stamp-width -0 !important; }
  &.stamp-qm{ background-position: -0 -1*$stamp_height !important; }
  &.stamp-cap{ background-position: -1*$stamp-width -1*$stamp_height !important; }
  &.stamp-rd{ background-position: -2*$stamp-width -1*$stamp_height !important; }
  &.stamp-hos{ background-position: -0 -2*$stamp_height !important; }
  &.stamp-ce{ background-position: -$stamp-width -2*$stamp_height !important; }
  &.stamp-cmo{ background-position: -2*$stamp-width -2*$stamp_height !important; }
  &.stamp-hop{ background-position: -0 -3*$stamp_height !important; }
  &.stamp-ok{ background-position: -$stamp-width -3*$stamp_height !important; }
  &.stamp-deny{ background-position: -2*$stamp-width -3*$stamp_height !important; }
  &.stamp-clown{ background-position: -0 -4*$stamp_height !important; }
}
