@use '../base.scss';

#joao_textarea, #joao_code {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    border: 0;

    width: 500px;
    height: 1000px;
    
    top: 0;
    left: 0;

    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
    tab-size: 2;
}
#joao_textarea
{
    position: absolute;
    z-index: 1;
  
    color: transparent;
    background: transparent;
    background-color: transparent;
    caret-color: white;
}
#joao_code
{
    position: absolute;
    width: 500px;
    top: -20px;
    text-overflow: false;
    overflow-wrap: break-word;
    word-wrap: break-word;
    z-index: 0;
    color: rgb(192, 192, 192);
}