@use '../base.scss';

#joao_textarea, #joao_code {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    border: 0;
    margin: 0em 0px;
    width: 90%;
    height: 1000px;
    top:50px;
    left:0px;
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
    position: absolute;
    tab-size: 2;
}
#joao_textarea
{
    z-index: 1;
    top:70px;
    color: transparent;
    background: transparent;
    background-color: transparent;
    caret-color: white;

}
#joao_code
{
    text-overflow: none;
    z-index: 0;
    color: rgb(192, 192, 192);
}