<!DOCTYPE html>
<html lang="en">
<head>
	<title>Byond Webclient</title>
	<link rel="shortcut icon" href="res/favicon.ico">
	<!--<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval'; child-src 'self';">-->
</head>
<body>
	<script src="res/<%= main_bundle %>"></script>
</body>
</html>