<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;blocking.dm - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="code/datums/components/blocking.html#define">Define Details</a></header>
<main>
<h1>code/datums/components/blocking.dm 
            <a href="https://github.com/yogstation13/Yogstation/blob/b6aee2a497eff12394ffec973adb5dbec7c41926/code/datums/components/blocking.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;blocking.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="code/datums/components/blocking.html#define/STAGGER_THRESHOLD">STAGGER_THRESHOLD</a></th><td>Minimum stamina damage where trying to block results in you being knocked down.</td></tr>
        <tr><th><a href="code/datums/components/blocking.html#define/CONSECUTIVE_BLOCK_PENALTY">CONSECUTIVE_BLOCK_PENALTY</a></th><td>Penalty for blocking too many things in quick succession.</td></tr>
        <tr><th><a href="code/datums/components/blocking.html#define/PARRY_BONUS">PARRY_BONUS</a></th><td>Multiplier for block force when parrying.</td></tr>
        <tr><th><a href="code/datums/components/blocking.html#define/AP_TO_FORCE">AP_TO_FORCE</a></th><td>How much to reduce block force by for each armor penetration.</td></tr>
        <tr><th><a href="code/datums/components/blocking.html#define/BLOCK_COOLDOWN">BLOCK_COOLDOWN</a></th><td>Used to prevent blocking an attack multiple times.</td></tr>
        <tr><th><a href="code/datums/components/blocking.html#define/MOUSEUP_OVERRIDE_TIME">MOUSEUP_OVERRIDE_TIME</a></th><td>How long right click needs to be held for mouse up to be overridden.</td></tr></table><h2 id="define">Define Details</h2>
<h3 id="define/AP_TO_FORCE"><aside class="declaration">#define </aside>AP_TO_FORCE
            <a href="https://github.com/yogstation13/Yogstation/blob/b6aee2a497eff12394ffec973adb5dbec7c41926/code/datums/components/blocking.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;blocking.dm 8"/></a>
    </h3>
    <p>How much to reduce block force by for each armor penetration.</p><h3 id="define/BLOCK_COOLDOWN"><aside class="declaration">#define </aside>BLOCK_COOLDOWN
            <a href="https://github.com/yogstation13/Yogstation/blob/b6aee2a497eff12394ffec973adb5dbec7c41926/code/datums/components/blocking.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;blocking.dm 10"/></a>
    </h3>
    <p>Used to prevent blocking an attack multiple times.</p><h3 id="define/CONSECUTIVE_BLOCK_PENALTY"><aside class="declaration">#define </aside>CONSECUTIVE_BLOCK_PENALTY
            <a href="https://github.com/yogstation13/Yogstation/blob/b6aee2a497eff12394ffec973adb5dbec7c41926/code/datums/components/blocking.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;blocking.dm 4"/></a>
    </h3>
    <p>Penalty for blocking too many things in quick succession.</p><h3 id="define/MOUSEUP_OVERRIDE_TIME"><aside class="declaration">#define </aside>MOUSEUP_OVERRIDE_TIME
            <a href="https://github.com/yogstation13/Yogstation/blob/b6aee2a497eff12394ffec973adb5dbec7c41926/code/datums/components/blocking.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;blocking.dm 12"/></a>
    </h3>
    <p>How long right click needs to be held for mouse up to be overridden.</p><h3 id="define/PARRY_BONUS"><aside class="declaration">#define </aside>PARRY_BONUS
            <a href="https://github.com/yogstation13/Yogstation/blob/b6aee2a497eff12394ffec973adb5dbec7c41926/code/datums/components/blocking.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;blocking.dm 6"/></a>
    </h3>
    <p>Multiplier for block force when parrying.</p><h3 id="define/STAGGER_THRESHOLD"><aside class="declaration">#define </aside>STAGGER_THRESHOLD
            <a href="https://github.com/yogstation13/Yogstation/blob/b6aee2a497eff12394ffec973adb5dbec7c41926/code/datums/components/blocking.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;blocking.dm 2"/></a>
    </h3>
    <p>Minimum stamina damage where trying to block results in you being knocked down.</p></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/b6aee2a497eff12394ffec973adb5dbec7c41926">b6aee2a</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
