<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;explodable.dm - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/explodable.dm 
            <a href="https://github.com/yogstation13/Yogstation/blob/04cce080ea99a0aa8471fc1e5345f69b901b29e9/code/datums/components/explodable.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;explodable.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="datum&#x2F;component&#x2F;explodable.html">&#x2F;datum&#x2F;component&#x2F;explodable</a></th><td>Component specifically for explosion sensetive things, currently only applies to heat based explosions but can later perhaps be used for things that are dangerous to handle carelessly like nitroglycerin.</td></tr></table></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/04cce080ea99a0aa8471fc1e5345f69b901b29e9">04cce08</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.0</a></footer>
</body>
</html>
