<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;surgery_bed.dm - Yogstation 13</title>
</head>
<body>
<header>
    <a href="index.html">Yogstation 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/surgery_bed.dm 
            <a href="https://github.com/yogstation13/Yogstation/blob/e9f1c549679e6630a45269e0647fa2738a37ff45/code/datums/components/surgery_bed.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;surgery_bed.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="datum&#x2F;component&#x2F;surgery_bed.html">&#x2F;datum&#x2F;component&#x2F;surgery_bed</a></th><td>A component for surgery beds and those that act like them, handles patient information, success chance, and available surgeries</td></tr></table></main>
<footer>
    yogstation.dme
    <a href="https://github.com/yogstation13/Yogstation/tree/e9f1c549679e6630a45269e0647fa2738a37ff45">e9f1c54</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.0</a></footer>
</body>
</html>
